menu "GSM Module Configuration"

    config GSM_UART_PORT_NUM
        int "GSM UART Port Number"
        default 1
        help
            UART port number connected to A7670E.

    config GSM_UART_TX_PIN
        int "GSM UART TX Pin"
        default 17
        help
            GPIO number for UART TX.

    config GSM_UART_RX_PIN
        int "GSM UART RX Pin"
        default 18
        help
            GPIO number for UART RX.

    config GSM_UART_BAUD_RATE
        int "GSM UART Baud Rate"
        default 115200

    config GSM_EMERGENCY_NUMBER
        string "Emergency Phone Number"
        default "8801521475412"

    config GSM_BUF_SIZE
        int "GSM UART Buffer Size"
        default 1024

endmenu